.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.breadcrumbs li a {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.breadcrumbs li a:global(.active) {
  font-weight: bold;
}

.breadcrumbs li img {
  margin-left: 0.3rem;
}

.breadcrumbs li:last-child img {
  display: none;
}
