.mainMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.mainMenu li a {
  text-transform: uppercase;
  color: var(--color-text-grey);
  font-weight: 700;
  display: block;
  padding: 1rem 0;
}

.mainMenu a:global(.active) {
  border-bottom: 3px solid var(--color-text-default);
  color: var(--color-text-default);
}
